.markdownarea {
    display: none;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

.markdown-body mark {
    background-color: #FFF9C4;
}

.markdown-body pre.mermaid {
    background-color: transparent;
    border: 1px solid #eee;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

.alert > p, .alert > ul {
    margin-bottom: 0;
}

.alert-info {
    color: #0D47A1;
    background-color: #BBDEFB;
}

.alert-success {
    color: #1B5E20;
    background-color: #C8E6C9;
}

.alert-warning {
    color: #BF360C;
    background-color: #FFF9C4;
}

.alert-danger {
    color: #B71C1C;
    background-color: #FFCDD2;
}